In [1]:
#https://archive.ics.uci.edu/ml/datasets/Student+Performance

In [2]:
#Stduents performance database

In [3]:
#Presentacion Diego Molina

In [4]:
#Se habla sobre el desempeño de los albumons de dos escuelas dependiendo de diferentes variables y datos

In [ ]:
#Variables
#1 school - student's school - binary
#2 sex - student's sex - binary
#3 age - student's age - numeric
#4 address - student's home address type - binary
#5 famsize - family size - binary
#6 Pstatus - parent's cohabitation status - binary
#7 Medu - mother's education - numeric
#8 Fedu - father's education - numeric
#9 Mjob - mother's job - nominal
#10 Fjob - father´s job - nominal
#11 reason - reason to choose this school - nominal
#12 guardian - student's guardian - nominal
#13 traveltime - home to school travel time - numeric
#14 studytime - weekly study time - numeric
#15 failures - number of past class failures - numeric
#16 schoolsup - extra educational support - binary
#17 famsup - family educational support - binary
#18 paid - extra paid classes within the course subject - binary
#19 activities - extra-curricular activities - binary
#20 nursery - attended nursery school - binary
#21 higher - wants to take higher education - binary
#22 internet - Internet access at home - binary
#23 romantic - with a romantic relationship - binary
#24 famrel - quality of family relationships - numeric
#25 freetime - free time after school - numeric
#26 goout - going out with friends - numeric
#27 Dalc - workday alcohol consumption - numeric
#28 Walc - weekend alcohol consumption - numeric
#29 health - current health status - numeric
#30 absences - number of school absences - numeric

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%ls database.xlsx

database.xlsx

In [14]:
#pip install xlrd

In [13]:
#pip install openpyxl

In [12]:
#pip install matplotlib

In [11]:
#pip install seaborn

In [10]:
df=pd.read_excel('database.xlsx',
                 engine='openpyxl',
                 sheet_name='student-mat',
                )
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

Cuales son los primeros tres alumnos, o los que estan primeros en la lista? ( se muestran las primeras tres filas)

In [16]:
df=pd.read_excel('database.xlsx',
                 engine='openpyxl',
                 sheet_name='student-mat',
                )
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

Cuales son los ultimos tres alumnos? (se muestran las ultimas tres filas)

In [17]:
df.tail(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

¿Que alumnos su mama trabaja como teacher?

In [20]:
df.loc['teacher','G3'].plot()

KeyError: 'teacher'